/Old/draft.py
/Old/draft2.py
/Old/inserting_draft.py
/Old/s.py
/Old/DB/db.sqlite3
/Old/DB/draft3.py
/Old/DB/__pycache__
/.idea
/__pycache__
/new_venv
/venv_mac
/ReminderBot/ReminderBot/__pycache__
/ReminderBot/bot/__pycache__/
ReminderBot/__pycache__/
ReminderBot/bot/migrations/__pycache__/